#!/usr/bin/env bash

# Setting virtual environment location
export VIRTUAL_ENV=.venv

# Setup python layout (creates a virutal environment at \$VIRTUALENV if one doesn't exists)
layout python

# Load dotenv if it exists
dotenv_if_exists
